/* Deejay's default SASS */
$primary: #e74c3c;
$secondary: #3498db;
$gray: #bdc3c7;
$dark: #2c3e50;
$light: #ecf0f1;
$black: #000;
$white: #fff;
$body-color: #f0f2f5;
$create-color: #36a420;
$facebook-blue: #1877f2;
